.body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fcfcfc;
}

.container {
	margin-left: calc((100% - 600px) / 2);
	margin-right: calc((100% - 600px) / 2);
}

.header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.nameContainer {
	display: inline-block;
	margin-left: 30px;
	position: relative;
}

.nameHeader {
	margin: 0;
}

.emailHeader {
	position: absolute;
	left: 0;
}

.faceHeader {
	vertical-align: middle;
}

.socialMedia {
	margin-top: 40px;
}

.socialMedia > * {
	margin: 0 20px;
}

.blurb {
	text-align: justify;
}